<!--employee index.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Employees{% endblock %}

{% block content %}
  <h3>Employee List</h3>
  <div class="{{ container_class|default:"container" }}">
  <div class="jumbotron">
    <table class="table table-striped table-condensed table-hover" id="employee-list">
      <thead>
        <tr>
          <th class="col-sm-2">Position</th>
          <th class="col-sm-2">Employee</th>
          <th class="col-sm-2">Hire Date</th>
          <th class="col-sm-3">Reports To</th>
          <th class="col-sm-2">Phone</th>
          <th class="col-sm-2">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.title }}</td>
          <td>{{ employee}}</td>
          <td>{{ employee.hire_date }}</td>
          <td>{{ employee.reports_to|default:"no one" }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock %}
